.service {
  display: flex;
  flex-direction: column;
}

.boxDiv {
  display: flex;
  gap: 6rem;
  /* width: 65%; */
  align-items: center;
  justify-content: center;
  margin: 6rem;
}

.firstBox {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 250px;
  box-shadow: 10px 10px 2px #cc3700;
  border-radius: 25px;
  padding: 10px;
}
.firstBox > header {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
}

.firstBox > p {
  padding: 0px 15px;
  width: 150px;
  font-size: 15px;
}
.secondBox {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 250px;
  box-shadow: 10px 10px 2px #fbb503;
  border-radius: 25px;
  padding: 10px;
}

.icon {
  font-size: 40px;
  padding: 15px 20px;
}

.secondBox > header {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
}

.secondBox > p {
  padding: 0px 15px;
  width: 150px;
  font-size: 15px;
}
.thirdBox {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 250px;
  box-shadow: 10px 10px 2px #ff543e;
  border-radius: 25px;
  padding: 10px;
}
.thirdBox > header {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
}

.thirdBox > p {
  padding: 0px 15px;
  width: 150px;
  font-size: 15px;
}

@media only screen and (max-width: 1100px) and (min-width: 720px) {
}

@media only screen and (max-width: 880px) and (min-width: 650px) {
  .boxDiv {
    display: grid;
    margin-left: 0;
    grid-template-columns:
      180px
      150px;
  }
}

/* mobile */

@media only screen and (max-width: 650px) and (min-width: 220px) {
  .boxDiv {
    flex-direction: column;
  }
}
